/dist
/dist-newstyle
/.ghc.environment.*
/cabal.project.local
/lib/boot/pkg/
/lib/boot/data/Prim.hs
/lib/boot/data/PrimopWrappers.hs
/lib/boot/data/primops.txt
/lib/boot/data/primops.txt.pp
/lib/boot/ghcjs-node.tar
/lib/*/dist
/lib/ghc-api-ghcjs/
/lib/ghci-ghcjs/
/lib/template-haskell-ghcjs/
/lib/haddock-api-ghcjs/
/lib/haddock-library-ghcjs/
/lib/upstream/
/vendor/
/GNUmakefile
TAGS
cabal.sandbox.config
*.js_hi
*.hi
*.o
*.js_o
*.jsexe
*_stub.h
.fuse_hidden*
*~
\#*
.#*
.*.swp
/lib/cache/build
.stack-work/
.cabal-sandbox/
