dist
cabal-dev
.stack-work/
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config

/lib/cache/build
/utils/patch/dist
/vendor/
/GNUmakefile

*.js_hi
*.hi
*.o
*.js_o
*.jsexe
*_stub.h
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp

# Misc temp files
.fuse_hidden*
*~
\#*
.#*
