/base-*
/ghc-*
/dist
/examples/main/*.hi
/examples/main/*.o
/examples/main/*.c
/examples/main/*.h
/examples/main/*.js
/package.lkshf
/*.lkshf
/.shelly/
/vendor/
/GNUmakefile
/ghc.mk
*.gen2.js
*.gen2.ji
*.js_hi
*.hi
*.o
*.js_o
*.gen2.jsexe
*_stub.h
.fuse_hidden*
*~
