sudo: required
dist: trusty
language: generic

services:
    - docker

# TODO: investigate whether Tavis' CI stages could be used here
env:
    - GHCVER=8.2.2 TEST_PART=CORE1
#    - GHCVER=8.2.2 TEST_PART=CORE2
#    - GHCVER=8.2.2 TEST_PART=PROFILING
#    - GHCVER=8.2.2 TEST_PART=GHCJS

#addons:
#    apt:
#        sources:
#            - hvr-ghc
#            - sourceline: 'deb https://deb.nodesource.com/node_6.x trusty main'
#              key_url: 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key'
#        packages:
#            - build-essential
#            - nodejs
#            - cabal-install-2.2
#            - ghc-8.2.2
#            - alex-3.1.7
#            - happy-1.19.5

before_install:
    - docker pull ubuntu:bionic
    - export PATH=$HOME/.cabal/bin:/opt/ghc/$GHCVER/bin:/opt/cabal/2.2/bin:/opt/alex/3.1.7/bin:/opt/happy/1.19.5/bin:$PATH
    - docker run -d -e PATH -v $PWD:/code --name build ubuntu:bionic sleep 4000000000
    - docker exec -it build apt-get update
    - docker exec -it build apt-get install -y software-properties-common curl
    - docker exec -it build add-apt-repository -y ppa:hvr/ghc
    - docker exec -it build /bin/sh -c 'curl -sL https://deb.nodesource.com/setup_10.x | bash -'
    - docker exec -it build apt-get update
    - docker exec -it build apt-get install -y build-essential nodejs cabal-install-2.2 ghc-8.2.2 alex-3.1.7 happy-1.19.5
    - docker exec -it build nvm install 8

install:
    - docker exec -it build /bin/sh -c 'cd /code; cabal update || cabal update || cabal update'
    - docker exec -it build /bin/sh -c 'cd /code; ./utils/makePackages.sh'
    - docker exec -it build /bin/sh -c 'cd /code; cabal install --only-dependencies --enable-tests --enable-benchmarks'
    - docker exec -it build /bin/sh -c 'cd /code; cabal install --enable-tests --enable-benchmarks -v -j1 --ghc-options="+RTS -c -RTS"'
    - docker exec -it build /bin/sh -c 'cd /code; ghcjs --version'
    - docker exec -it build /bin/sh -c 'cd /code; ghcjs-boot --version'
    - docker exec -it build /bin/sh -c 'cd /code; ./test/runTravis.sh boot'
    - docker exec -it build /bin/sh -c 'cd /code; ghcjs-pkg list'

script:
    - docker exec -it build /bin/sh -c 'cd /code; ./test/runTravis.sh test'

notifications:
  irc:
    channels: "irc.freenode.net#ghcjs"
    skip_join: true
  email: true
