/base/
/ghc-prim/
/integer-simple/
/base.js
/ghc-prim.js
/integer-simple.js
/main.js
/out/
/integer-gmp/
/hs1.js
/hs1min.js
/hs2.js
/hs2min.js
/hs3.js
/hs3min.js
/hs4.js
/hs4min.js
/hs5.js
/hs5min.js
/hs6.js
/hs6min.js
/hs7.js
/hs7min.js
/hs8.js
/hs8min.js
/hsloader.js
/rts.js
/test.js
